.mobileContainer {
  background-color: #fff;
  border: 1px solid #ebebeb;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
}

.mobileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.userIcon {
  font-size: 24px;
  background-color: #1aa683;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.mobileTitle {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #252525;
}

.mobileForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobileFormItem {
  width: 100% !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #25252580 !important;
  margin: 0 !important;
}

.mobileInput {
  border-radius: 10px !important;
  border: 1px solid #ebebeb !important;
  padding: 12px !important;
  font-size: 14px !important;
}

.mobileSelect {
  border-radius: 10px !important;
  height: 45px !important;
}

.mobileButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.mobileEditBtn {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  background-color: #32343a;
  color: #fff;
  border: none;
}

.mobileSaveBtn {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  background-color: #1aa683 !important;
  color: #fff !important;
  border: none;
}
