.ant-collapse-header {
  margin-left: 20px;
}
.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
  border-radius: 0;
}
.ant-table-wrapper .ant-table {
  border-radius: 0 !important;
}
