/* Reset default styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #252525;
  background-color: #ffffff;
  line-height: 1.5;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #252525;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #1aa683;
}

/* Buttons */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

button:disabled {
  background-color: #b5b7c0;
  cursor: not-allowed;
}

/* Input Fields */
input,
select,
textarea {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #1aa683;
  outline: none;
}
