.questionnaireContainer {
  position: relative;
  background-color: #fff;
  border: 1px solid #ebebeb;
  padding: 40px;
  border-radius: 10px !important;
  width: 100%;
  min-height: 750px !important;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalBox {
  background-color: #fff;
  border: 1px solid #b5b7c0 !important;
  border-radius: 10px !important;
  text-align: center;
  width: 400px;
  padding: 36px;
  padding-top: 24px;
}
.modalBox h3 {
  margin: 16px 0 8px;
  font-size: 18px;
  font-weight: 700;
  color: #32343a;
}
.questionBlock {
  display: flex;
  flex-direction: column;
}
.questionBlock h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #32343a;
}
.questionBlock p {
  margin: 0;
  font-size: 14px;
  color: #252525;
}
.radioItem {
  display: flex;
  gap: 5px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btnRow {
  margin-top: auto;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
.successContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}
.successContainer h2 {
  font-size: 18px;
  font-weight: 700;
  color: #32343a;
  margin-bottom: 16px;
}
.successContainer p {
  font-size: 14px;
  color: #252525;
  margin-bottom: 24px;
  max-width: 600px;
}
.modelTitleNot {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #252525 !important;
  margin: 0 !important;
  margin-bottom: 16px !important;
}
.modelSubtitleNot {
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #252525 !important;
  margin-bottom: 20px !important;
}
.anketaStart {
  width: 280px;
  height: 40px;
  background-color: #1aa683;
  color: #fff !important;
  border: none !important;
}
.anketaStart:hover {
  background-color: #137f64 !important;
  color: #fff !important;
  border: none !important;
}
.question {
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-bottom: 20px !important;
}
.label {
  font-size: 14px !important;
  font-weight: 400 !important;
}
