.mobileContainer {
  background-color: #fff;
  border: 1px solid #ebebeb;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
}

.mobileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.userIcon {
  font-size: 24px;
  background-color: #1aa683;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.mobileTitle {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #252525;
}

.mobileForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobileFormItem {
  width: 100% !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #25252580 !important;
  margin: 0 !important;
}

.mobileInput {
  border-radius: 10px !important;
  border: 1px solid #ebebeb !important;
  padding: 12px !important;
  font-size: 14px !important;
}

.mobileSelect {
  border-radius: 10px !important;
  height: 45px !important;
}

.mobileButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.mobilePasswordBtn,
.mobileEditBtn,
.mobileSaveBtn {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
}

.mobilePasswordBtn {
  background-color: transparent !important;
  color: #252525 !important;
  border: 1px solid #252525 !important;
}

.mobileEditBtn {
  background-color: #32343a;
  color: #fff;
  border: none;
}

.mobileSaveBtn {
  background-color: #1aa683 !important;
  color: #fff !important;
  border: none;
}

.mobileModal {
  border-radius: 10px !important;
  padding: 20px !important;
  width: 90% !important;
  margin: 0 auto;
}

.mobileModalBody {
  gap: 0 !important;
  padding: 0 !important;
}

.mobileModalTitle {
  font-weight: 600 !important;
  margin-bottom: 20px !important;
  color: #32343a !important;
  font-size: 16px;
}

.passwordField {
  position: relative;
  margin-bottom: 16px;
}

.mobilePasswordInput {
  font-weight: 400 !important;
  font-size: 14px !important;
  border: 1px solid #ebebeb !important;
  border-radius: 10px !important;
  background-color: transparent !important;
}

.passwordToggleIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  cursor: pointer;
  color: #999;
  font-size: 16px;
}

.mobileModalFooter {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}

.mobileConfirmBtn,
.mobileCancelBtn {
  width: 100%;
  height: 45px;
  font-size: 16px !important;
  font-weight: 700;
}

.mobileConfirmBtn {
  color: #fff;
  margin-bottom: 8px;
}

.mobileCancelBtn {
  color: #252525;
}
