.ant-collapse-header{
  padding: 0px 0px !important;
  margin-bottom: 20px;
}

.ant-collapse-content-box{
  padding: 0 !important;
}
.ant-table-expanded-row-fixed {
  padding: 0 !important;
}
.ant-table-body{
  max-height: none !important;
  overflow: auto !important;
}
.ant-table-tbody{
  padding: 8px !important;
}
.ant-btn-icon svg{
  vertical-align: -0.35em !important;
}
.ant-table-row-expand-icon:focus, .ant-table-row-expand-icon:hover {
  color: #1aa683 !important;
}